<fieldset>
  <label for="name">{{ __ "name" }}</label>
  <input required type="text" value="{{ category.name }}" name="name" id="name"></input>
</fieldset>
<fieldset>
<fieldset class="actions">
  <a href="/">{{ __ "cancel" }}</a>
  <button name="submit" type="submit">{{ __ "save" }}</button>
</fieldset>
