[Unit]
Description=Blog

[Service]
ExecStart=/home/denis/www/blog/dist/app.js
Restart=always
User=www-data
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=www-data
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/denis/www/blog/dist

[Install]
WantedBy=multi-user.target
