/*
 * colors
 * https://color.adobe.com/create/color-wheel/
 * https://coolors.co/contrast-checker/333178-b3c8dd
 * https://www.canva.com/colors/color-wheel/
 * https://colour-palette-generator.azurewebsites.net/
 * https://www.rapidtables.com/web/color/color-scheme.html
 */
body {
  margin: 0;
  font-family: FiraCode;
}

pre.debug {
  background: #DE9ED0;
  font-size: .8rem;
  padding: .2rem;
  box-sizing: border-box;
}

button, select {
  font-family: FiraCode;
}

/******************************* */
/* navigation                    */
/******************************* */
nav.main ul {
  background: #b3c8dd;
}

nav.admin ul {
  background: #D7DE9E;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

nav a {
  display: block;
  padding: .5rem;
  color: #000;
  text-decoration: underline;
}

nav a:hover {
  background: #9FB2C4;
}

nav li.search {
  margin-left: auto;
  margin-right: .5rem;
}

nav li.search input {
  width: 20rem;
}

nav.admin ul {
  justify-content: unset;
  font-size: .8rem;
}

nav.admin ul a {
  color: #000;
  padding: .2rem;
}

nav.admin ul a:hover {
  background: #BEC48B;
}

nav ul li:first-child a {
  padding-left: 0;
}

/******************************* */
/* container                     */
/******************************* */
.container, nav ul {
  padding: 0 .5rem;
}

article,
section,
nav ul {
  margin: 0 auto;
  max-width: 70rem;
  box-sizing: border-box;
}

/******************************* */
/* article, page                 */
/******************************* */
.container article header h1 {
  margin-bottom: 0;
}

.container article img {
  max-width: 100%;
}

.container section.articles {
  padding: 0;
}

.container section.articles header time,
.container article header time,
.container section.attachments figcaption {
  font-size: .8rem;
  color: #4C555E;
}

.container section.articles header .category {
  font-size: .8rem;
  margin-left: auto;
  margin-right: .5rem;
}

.container section.articles h4 {
  margin: 0;
}

.container  section.articles ul {
  flex-direction: column;
}

.container  section.articles ul,
.container section.attachments ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.container section.articles li {
  display: flex;
  align-items: center;
}

.container section.articles li a.edit {
  font-size: 1rem;
  width: unset;
  margin-right: .5rem;
}

.container section.articles li a {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #000;
  border: 1px solid #fff;
  width: 100%;
}

.container section.articles li a:hover {
  border: 1px solid #000;
}

.container section.articles li header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container section.articles .description {
  display: none;
}

.container section.attachments figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.container section.attachments figcaption {
  margin-top: auto;
}

.container section.attachments li {
  border: 1px solid black;
  width: 20rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}


/******************************* */
/* edit                          */
/******************************* */
.container section.edit form {
}

.container section.edit form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.container section.edit form label {
  display: block;
  font-size: .8rem;
  margin-bottom: .2rem;
}

.container section.edit form input,
.container section.edit form select,
.container section.edit form textarea {
  font-size: 1rem;
  padding: .2rem .5rem;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  border: 1px solid #B3C8DD;
}

.container section.edit form textarea {
  height: 40rem;
  max-width: unset;
}

.container section.edit form textarea[name="description"] {
  height: 5rem;
}

.container section.edit form button[name="submit"] ,
.container section.edit form .actions a {
  background-color: #B3C8DD;
  padding: .5rem 1rem;
  border: 1px solid #8E916E;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.container section.edit form .actions a {
  background-color: #E8F4FF;
}

.container section.edit form button[name="submit"]:hover,
.container section.edit form .actions a:hover {
  background-color: #677C91;
}


/******************************* */
/* sitemaps edit                 */
/******************************* */
.container section.edit.sitemaps form fieldset {
  display: flex;
  margin-bottom: .5rem;
}

.container section.edit.sitemaps form fieldset:first-child {
  margin-bottom: 0;
}

.container section.edit.sitemaps form fieldset div {
  width: 20rem;
  margin-right: 1rem;
}

.container section.edit.sitemaps form fieldset.actions div:last-child {
  margin-top: 1rem;
  text-align: right;
}

.container section.edit.sitemaps form fieldset input {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}
