/*
 * colors
 * https://color.adobe.com/create/color-wheel/
 * https://coolors.co/contrast-checker/333178-b3c8dd
 * https://www.canva.com/colors/color-wheel/
 * https://colour-palette-generator.azurewebsites.net/
 * https://www.rapidtables.com/web/color/color-scheme.html
 */
body {
  margin: 0;
  font-family: FiraCode;
}

button, select {
  font-family: FiraCode;
}

/******************************* */
/* navigation                    */
/******************************* */
nav ul {
  background: #b3c8dd;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 .5rem;
  justify-content: space-between;
}

nav a {
  display: block;
  padding: .5rem;
  color: #000;
  text-decoration: underline;
}

nav a:hover {
  background: #9FB2C4;
}

nav li.search {
  margin-left: auto;
  margin-right: .5rem;
}

nav li.search input {
  width: 20rem;
}

nav ul.admin {
  background: #D7DE9E;
  justify-content: unset;
  font-size: .8rem;
}

nav ul.admin a {
  color: #000;
  padding: .2rem;
}

nav ul.admin a:hover {
  background: #BEC48B;
}

nav ul li:first-child a {
  padding-left: 0;
}

/******************************* */
/* container                     */
/******************************* */
.container {
  margin: 0 .5rem;
}

/******************************* */
/* article, page                 */
/******************************* */
.container.articledetail header h1,
.container.pagedetail header h1 {
  margin-bottom: 0;
}

.container.articledetail img,
.container.pagedetail img {
  max-width: 100%;
}

.container.articledetail header time,
.container.articleindex header time,
.container.pagedetail header time {
  font-size: .8rem;
  color: #4C555E;
}

.container.articleindex h4 {
  margin: 0;
}

.container.articleindex ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.container.articleindex li {
  background: #DECEB4;
  margin-right: .5rem;
  margin-bottom: .5rem;
  width: 20rem;
  height: 10rem;
}

.container.articleindex li a {
  text-decoration: none;
  padding: .5rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #000;
}

.container.articleindex li a:hover {
  border: 1px solid black;
}

.container.articleindex li header {
  margin-bottom: 1rem;
}

/******************************* */
/* edit                          */
/******************************* */
.container.contentedit form {
}

.container.contentedit form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.container.contentedit form label {
  display: block;
  font-size: .8rem;
  margin-bottom: .2rem;
}

.container.contentedit form input,
.container.container form select,
.container.contentedit form textarea {
  font-size: 1rem;
  padding: .2rem .5rem;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  border: 1px solid #B3C8DD;
}

.container.contentedit form textarea {
  height: 40rem;
  max-width: unset;
}

.container.contentedit form textarea[name="description"] {
  height: 5rem;
}

.container.contentedit form button[name="submit"] ,
.container.contentedit form .actions a {
  background-color: #B3C8DD;
  padding: .5rem 1rem;
  border: 1px solid #8E916E;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.container.contentedit form .actions a {
  background-color: #E8F4FF;
}

.container.contentedit form button[name="submit"]:hover,
.container.contentedit form .actions a:hover {
  background-color: #677C91;
}


/******************************* */
/* sitemaps edit                 */
/******************************* */
.container.sitemapsedit form fieldset {
  border: 0;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: .5rem;
}

.container.sitemapsedit form fieldset:first-child {
  margin-bottom: 0;
}

.container.sitemapsedit form fieldset div {
  width: 20rem;
  margin-right: 1rem;
}

.container.sitemapsedit form fieldset.actions div:last-child {
  text-align: right;
}

.container.sitemapsedit form fieldset input {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}
