<h1>{{__ "edit article"}}</h1>
<form action="/articles/{{ article._id }}?_method=put" method="post">
  {{> articleForm }}
</form>
<form action="/articles/{{ article._id }}?_method=delete" method="post">
  <button type="submit">{{ __ "delete" }}</button>
<form>
