<article class="article">
  <header>
    <h1>{{ content.title }}</h1>
    <time class="createdAt" datetime="{{ formatDate content.createdAt showTime=true }}">{{ formatDate content.createdAt }}</time>
  </header>
  <div>{{{ content.sanitizedHtml }}}</div>
</article>
