<article>
  <header>
    <h1>{{ article.title }}</h1>
    <time class="createdAt" datetime="{{ formatDate article.createdAt showTime=true }}">{{ formatDate article.createdAt }}</time>
  </header>
  <div>{{{ article.sanitizedHtml }}}</div>
</article>
