/*
 * colors
 * https://color.adobe.com/create/color-wheel/
 * https://coolors.co/contrast-checker/333178-b3c8dd
 * https://www.canva.com/colors/color-wheel/
 * https://colour-palette-generator.azurewebsites.net/
 * https://www.rapidtables.com/web/color/color-scheme.html
 */
body {
  margin: 0;
  font-family: FiraCode;
}

pre code {
  font-family: FiraCode;
  font-size: .8rem;
  border: 1px solid #c1c7d0;
  background-color: #f4f5f7;
  padding: .5rem 0;
  display: block;
}

code {
  font-family: FiraCode;
  border: 1px solid #c1c7d0;
  background-color: #f4f5f7;
}

blockquote {
  border-left: .25rem solid #d0d7de;
  margin: 0;
  padding-left: 1rem;
}

div.quote blockquote {
  margin: 0;
  padding-left: 0;
  border-left: 0;
}

div.quote cite {
  font-size: .8rem;
}

div.quote blockquote::before {
  content: "«";
}

div.quote blockquote::after {
  content: "»";
}

pre.debug {
  background: #DE9ED0;
  font-size: .8rem;
  padding: .2rem;
  box-sizing: border-box;
}

button, select {
  font-family: FiraCode;
}

/******************************* */
/* navigation                    */
/******************************* */
nav.main ul {
  background: #b3c8dd;
}

nav.admin ul {
  background: #D7DE9E;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

nav a {
  display: block;
  padding: .5rem;
  color: #000;
  text-decoration: underline;
}

nav a:hover {
  background: #9FB2C4;
}

nav li.search {
  margin-left: auto;
  margin-right: .5rem;
}

nav li.search input {
  width: 20rem;
}

nav.admin ul {
  justify-content: unset;
  font-size: .8rem;
}

nav.admin ul a {
  color: #000;
  padding: .2rem;
}

nav.admin ul a:hover {
  background: #BEC48B;
}

nav ul li:first-child a {
  padding-left: 0;
}

/******************************* */
/* container                     */
/******************************* */
.container,
nav ul {
  padding: 0 .5rem;
}

@media screen and (min-width: 1280px) {
  .xcontainer {
    padding: 0;
  }
}

article,
section,
nav ul {
  margin: 0 auto;
  max-width: 80rem;
  box-sizing: border-box;
}

nav ul {
  max-width: 81rem;
}

/******************************* */
/* article, page                 */
/******************************* */
.container article header h1 {
  margin-bottom: 0;
}

.container article picture {
  display: block;
  text-align: center;
}

.container article picture img {
  width: 100%;
}

.container article picture.medium img {
  width: 50%;
}

.container article img {
  max-width: 100%;
}

.container article figure.medium figcaption,
.container article figure.full figcaption
{
  text-align: center;
  font-size: .8rem;
  color: #4C555E;
}

.container section.articles {
  padding: 0;
}

.container section.articles header time,
.container article header time,
.container section.attachments figcaption {
  font-size: .8rem;
  color: #4C555E;
}

.container section.articles header .category {
  font-size: .8rem;
  margin-left: auto;
  margin-right: .5rem;
}

.container section.articles h4 {
  margin: 0;
}

.container  section.articles ul {
  flex-direction: column;
}

.container  section.articles ul,
.container section.attachments ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.container section.articles li {
  display: flex;
  align-items: center;
}

.container section.articles li a.edit {
  font-size: 1rem;
  width: unset;
  margin-right: .5rem;
}

.container section.articles li a {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #000;
  border: 1px solid #fff;
  width: 100%;
}

.container section.articles li a:hover {
  border: 1px solid #000;
}

.container section.articles li header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container section.articles .description {
  display: none;
}

.container section.attachments figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.container section.attachments figcaption {
  margin-top: auto;
}

.container section.attachments li {
  border: 1px solid black;
  width: 20rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.container table {
  border-spacing: 0;
}

.container table th {
  background-color: #D7DE9E;
  text-align: left;
  padding: .2rem .5rem;
}

.container table td {
  padding: .2rem .5rem;
  border: 1px solid #D7DE9E;
}

.container div.draftwarning {
  position: absolute;
  font-size: 20rem;
  top: 20rem;
  opacity: .5;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}


/******************************* */
/* edit                          */
/******************************* */
.container section.edit form {
}

.container section.edit form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.container section.edit form label {
  display: block;
  font-size: .8rem;
  margin-bottom: .2rem;
}

.container section.edit form input,
.container section.edit form select,
.container section.edit form textarea {
  font-size: 1rem;
  padding: .2rem .5rem;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  border: 1px solid #B3C8DD;
}

.container section.edit form textarea {
  height: 40rem;
  max-width: unset;
}

.container section.edit form textarea[name="description"] {
  height: 5rem;
}

.container section.edit form button[name="submit"] ,
.container section.edit form .actions a {
  background-color: #B3C8DD;
  padding: .5rem 1rem;
  border: 1px solid #8E916E;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.container section.edit form .actions a {
  background-color: #E8F4FF;
}

.container section.edit form button[name="submit"]:hover,
.container section.edit form .actions a:hover {
  background-color: #677C91;
}


/******************************* */
/* sitemaps edit                 */
/******************************* */
.container section.edit.sitemaps form fieldset {
  display: flex;
  margin-bottom: .5rem;
}

.container section.edit.sitemaps form fieldset:first-child {
  margin-bottom: 0;
}

.container section.edit.sitemaps form fieldset div {
  width: 20rem;
  margin-right: 1rem;
}

.container section.edit.sitemaps form fieldset.actions div:last-child {
  margin-top: 1rem;
  text-align: right;
}

.container section.edit.sitemaps form fieldset input {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}


/******************************* */
/* yt                            */
/******************************* */
progress {
  -webkit-appearance: none;
  color: blue;
}

progress::-webkit-progress-value {
  background: blue;
}

progress::-webkit-progress-bar {
  background-color: #ddd;
}

section.yt {
  margin-top: 1rem;
  max-width: 1200px;
}

section.yt form {
  margin-bottom: 1rem;
}

section.yt input {
  margin-right: 0;
}

section.yt label {
  margin-left: -0.3rem;
  font-size: .8rem;
}

input[type="url"] {
  width: 100%;
}

#resolution {
  width: 50%;
}

#audioWrapper {
  display: inline;
}

#progressContainer span {
  position: absolute;
  top: .5rem;
  display: inline-block;
  color: #fff;
  margin-left: 1rem;
  text-align: right;
}

#progressContainer {
  display: block;
  position: relative;
  width: 100%;
}

#progressBar {
  height: 2rem;
  width: 100%;
}

#progressLog {
  border: 1px solid black;
  min-height: 50px;
  font-family: monospace;
  font-size: .7rem;
}

#downloadLinkContainer {
  display: none;
  margin-bottom: 1rem;
}
