<h1>{{__ "edit page"}}</h1>
<form action="/pages/{{ page._id }}?_method=put" method="post">
  {{> pageForm }}
</form>
<form action="/pages/{{ page._id }}?_method=delete" method="post">
  <button name="delete" type="submit">{{ __ "delete" }}</button>
<form>
