<section>
  {{#if page.title }}
  <header>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ formatDate page.createdAt showTime=true }}">{{ formatDate page.createdAt }}</time>
  </header>
  {{/if }}
  <div>{{{ page.sanitizedHtml }}}</div>
</section>
